body {
	text-align: center;
	color: #231F20;
	font-family: sans-serif;
	padding-top: 10px;
	background-color: #FAEDCA;
}

header {
	padding: 20px;
	font-family: 'Permanent Marker', cursive;
}

button {
   width: 70px;
   height: 25px;
   border-radius: 5px;
   text-align: center;
	 border-style: none;
	 cursor: pointer;
	 background-color: #FAEDCA;
}

.container {
	height: 280px;
	width: 570px;
	margin: 0 auto;
}

.display {
	margin: auto;
	height: 285px;
	width: 250px;
	float: right;
	/*border: 3px solid #BB4430;*/
	background-color: #FC9E4F;
	border-radius: 5%;
}

.field {
  margin: auto;
  height: 280px;
  width: 300px;
	float: left;
}

.stats {
	padding: 20px;
}

.square {
  margin: 0;
  height: 50px;
  width: 50px;
  display: inline-block;
	background-color: rgb(252,252,225);
	border: 1px solid #BB4430;
	border-radius: 100%;
}

.square:hover {
  background-color: #fefef8;
}

.score {
	padding: 20px;
}

#status {
	background-color: rgba(250, 237, 202, 0.5);
	padding: 5px;
}
